.title-galerie {
    text-align: center;
    margin: 1rem 0 3rem 0;
    font-size: 2.5rem;
    color: #333;
    font-family: "Roboto", sans-serif;
}

.galerie-page {
  background: #fafafa;
  padding-bottom: 3rem;
}

.gallery-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

/* Zeitstrahl */
.year-timeline {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 2rem;
  flex-wrap: wrap;

  .year-btn {
    padding: 0.6rem 1.3rem;
    border-radius: 999px;
    border: 2px solid #ccc;
    background: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;

    &.active {
      border-color: #d2232a;
      background: #d2232a;
      color: #fff;
      box-shadow: 0 0 12px rgba(210, 35, 42, 0.6);
    }

    &:hover {
      transform: translateY(-2px);
    }
  }
}

/* Grid */
.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 1rem;

  .image-wrapper {
    overflow: hidden;
    border-radius: 12px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      cursor: pointer;
      transition: 0.3s ease;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

/* Lightbox */
.lightbox {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  .lightbox-img {
    max-width: 90%;
    max-height: 80dvh;
    border-radius: 10px;
  }

  .nav-btn {
    position: absolute;
    font-size: 3rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 1rem;
    transition: 0.3s ease;

    &.left { left: 2%; }
    &.right { right: 2%; }

    &:hover {
      color: #d2232a;
    }
  }
}
