@use "./index.scss" as index;

.homepage {
  
}


.logo-large {
  cursor: pointer;
  height: 6em;
  margin: 1rem auto 0;
  transition: filter 500ms ease-out;

}
#markus-maehler {
  border-radius: 0.5rem;
}

.title-screen {
  width: 100vw;
  height: 100dvh;
  background-color: #000000;
}