@use "./index.scss" as index;

.impressum-page {
  .impressum-content {
    max-width: 900px;
    margin: 4rem auto;
    padding: 0 1rem;
    font-family: "Roboto", sans-serif;
  }

  .accordion-item {
    border-bottom: 1px solid index.$tertiary-color;
    margin-bottom: 0;
    overflow: hidden;
    .accordion-header {
      position: relative;
      z-index: 100;
      width: 100%;
      background: #f0f0f0;
      border: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 0;
      cursor: pointer;
      text-align: left;

      h2 {
        font-size: 1.3rem;
        color: index.$primary-color;
        font-family: "Oswald", sans-serif;
        margin: 0;
      }

      .plus-minus {
        position: relative;
        width: 18px;
        height: 18px;

        span {
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          height: 2px;
          background: index.$secondary-color;
          transition: all 0.3s ease;
        }

        span:first-child {
          transform: translateY(-50%);
        }

        span:last-child {
          transform: translateY(-50%) rotate(90deg);
        }
      }
    }

    &.open {
      .plus-minus span:last-child {
        transform: translateY(-50%) rotate(0deg);
      }
    }

    .accordion-body {
      padding: 0;
      color: index.$quaternary-color;
      font-size: 0.95rem;

      p,
      ul,
      li {
        margin-bottom: 0.2rem;
        list-style: none;
      }

      a {
        color: index.$secondary-color;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .map-title {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    text-align: center;
    margin-top: 3rem;
    color: index.$primary-color;
  }
  .map-container {
    margin-top: 3rem;

    iframe {
      position: relative;
      z-index: 100;
      width: 100%;
      height: 400px;
      border: none;
      border-radius: 12px;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    }
  }
}
