@use "./index.scss" as index;

body {
  background-color: index.$primary-color;
  min-width: 100vw;
  min-height: 100vh;
}

.logo {
  cursor: pointer;
  height: 6em;
  margin: 1rem auto 0;
  transition: filter 500ms ease-out;

  &:hover {
    filter: drop-shadow(0 0 0.15rem rgb(180, 180, 180));
  }
}