
$primary-color: #0e0e0d;
$secondery-color: #da2328;
$tertiary--color: #b4b4b2;
$quaternary--color: #646464;

@mixin content-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    &:before,
    &:after {
        box-sizing: border-box;
    }
}

html, body {
    scroll-behavior: auto !important;
    height: 100%;
    margin: 0;
    padding: 0;
    letter-spacing: 0.05rem;
    
}


html {
    -webkit-font-smoothing: antialiased;
}

body {
  background-color: $primary-color;
  min-width: 100vw;
  min-height: 300vh;
}


#root {

    min-height: 100dvh;
    display: grid; 
    grid-template-rows: auto 1fr auto; 
    grid-template-columns: minmax(0, 1fr); 
 } 